.card--landing {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.card-body {
  max-width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  position: relative;
}

.card-header {
  width: 100px;
  height: 100px;
  margin: 0 16px;
  background: grey;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.content--meta {
  margin: 0;
}

.label--meta {
  font-weight: bold;
}

.card-expand {
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(247, 247, 247, 0.25),
    rgba(247, 247, 247, 0.85),
    rgba(247, 247, 247, 1)
  );
}

.btn--read-more {
  padding: 8px;
  background-color: rgba(245, 245, 245);
  border: 1px solid rgb(115, 135, 199);
  border-radius: 4px;
}
